.focus-text-wrapper {
  margin: 3rem;
  width: 80%;
  height: 75%;
  border-radius: 50px;
  background: linear-gradient(225deg, #aedcfc, #d8a2e8);
  box-shadow: -20px 20px 60px #bebebe,
    20px -20px 60px #ffffff;
}

.focus-text {
  margin: 1.5rem;
  color: black;
  font-size: larger;
  font-weight: 400;
}

.focus-text>#focus-header {
  text-decoration: underline;
  margin-bottom: 0.2rem;
}

.focus-text #focus-paragraph {
  font-size: medium;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: justify;
}

@media (max-width:400px) {
  .focus-text-wrapper {
    height: 90%;
    margin: 1rem auto;
    line-height: 0.9;
    width: 95%;
  }

  .focus-text #focus-paragraph {
    font-size: medium;
  }

  .focus-text>#focus-header {
    font-size: medium;
  }

  .focus-text {
    /* padding: 0.2rem; */
    margin: 1.3rem
  }
}