:root {
  /* Global variables to be defined here */
  --color-white: #ffffff;
  --font-family: Poppins;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
  color: white;

}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

body {
  font-family: Poppins;
  /* height: 1200px; */
  /* background-color: #A8A1FC; */
  /* background-image: linear-gradient(to right bottom, #a8a1fc, #94a1fd, #7ea0fd, #64a0fc, #419ffa); */
}

@media (min-width:1000px) {}



/* * {
  border: 1px solid wheat;
} */